<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more
    details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">


    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/srv/log/vportal/@project.artifactId@/@project.artifactId@-service.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d-%logger{0}-[%t]-%p-%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d-%20.-20logger{0}-[%-8.8t]- %-6.5p- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="org.springframework" level="WARN" />

    <logger name="org.apache.cxf" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="ASYNC"/>
    </root>


</configuration>